.navbar{

background-color: #9400FF;
height: 60px;
width: 100vw;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
padding: 20px;
position: fixed;
font-family: 'Montserrat', sans-serif;


}


.logo{

    color: #E4F1FF;
    
}



.logo h1 {
        
        background-color: #FBAB7E;
        background: -webkit-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }




.links{
display: flex;

width: 20%;
justify-content: space-between;

}

.links .link{

text-decoration: none;
color: blueviolet;
color: #E4F1FF;
font-size: 1.2rem;

}

