.container {

    box-sizing: border-box;
   
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.container .preview {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.container .preview .previewImgContainer{



display:  flex;
align-items: center;
justify-content: space-between;
width: 80vw;





}


.container .preview .previewImgContainer button{



   background: none;
   border: none;
   font-size: larger;
   padding: 10px;
   background-color: #ffff;
    
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   cursor: pointer;
   color: #9400FF;
    
    }



    .container .preview .previewImgContainer .img {
  
width: 90vw !important;




}



.container .preview:first-child{

width: 50%; 

}



.container .code {


    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 30px;
    flex-direction: column;
    margin-bottom: 50px;

}


.container .code .item {

    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

}

.container .code .item .copy {

    width: 100%;
    height: 30px;
    background-color: #9400FF;
    color: #e6eeff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container .code .item .copy span {

    margin: 0px 20px;

    cursor: default;

}


.container .code .item .copy div span {

    cursor: pointer;
    padding: 10px;

}

.container .code .item .copy div span:hover {

    background-color: darkslateblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 10px;

}


.container .preview .slider{


display: flex;
flex-direction: row;


}